<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellercube.usermanager.server.base.mapper.ConfigMapper">
  <resultMap id="BaseResultMap" type="com.sellercube.usermanager.server.base.entity.Config">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="print_name" jdbcType="VARCHAR" property="printName" />
    <result column="cretae_time" jdbcType="TIMESTAMP" property="cretaeTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="deletor" jdbcType="VARCHAR" property="deletor" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    id, ip, remark, mac, print_name, cretae_time, creator, update_time, updator, del_time,
    deletor, is_delete
  </sql>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from config
  </select>

  <select id="searchByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from config
    WHERE 1=1
    <if test="printName != null">
      AND print_name like CONCAT('%',#{printName},'%')
    </if>

    <if test="ip != null">
      AND ip like CONCAT('%',#{ip},'%')
    </if>

    <if test="mac != null">
      AND mac like CONCAT('%',#{mac},'%')
    </if>
  </select>

  <select id="countByPrintNameRepeat" resultType="java.lang.Integer">
    select
    COUNT(1)
    from config
    where print_name = #{printName}
  </select>

  <select id="countByIpRepeat" resultType="java.lang.Integer">
    select
    COUNT(1)
    from config
    where ip = #{ip}
  </select>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sellercube.usermanager.server.base.entity.Config">
    insert into config (id, ip, remark,
      mac, print_name, cretae_time,
      creator, update_time, updator,
      del_time, deletor, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{mac,jdbcType=VARCHAR}, #{printName,jdbcType=VARCHAR}, #{cretaeTime,jdbcType=TIMESTAMP},
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR},
      #{delTime,jdbcType=TIMESTAMP}, #{deletor,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sellercube.usermanager.server.base.entity.Config">
    insert into config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="printName != null">
        print_name,
      </if>
      <if test="cretaeTime != null">
        cretae_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="delTime != null">
        del_time,
      </if>
      <if test="deletor != null">
        deletor,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="printName != null">
        #{printName,jdbcType=VARCHAR},
      </if>
      <if test="cretaeTime != null">
        #{cretaeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletor != null">
        #{deletor,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sellercube.usermanager.server.base.entity.Config">
    update config
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="printName != null">
        print_name = #{printName,jdbcType=VARCHAR},
      </if>
      <if test="cretaeTime != null">
        cretae_time = #{cretaeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null">
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletor != null">
        deletor = #{deletor,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sellercube.usermanager.server.base.entity.Config">
    update config
    set ip = #{ip,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      print_name = #{printName,jdbcType=VARCHAR},
      cretae_time = #{cretaeTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      deletor = #{deletor,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>