<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellercube.printserver.server.mapper.MonitorMapper">
  <resultMap id="BaseResultMap" type="com.sellercube.printserver.server.entity.Monitor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="doc_name" jdbcType="VARCHAR" property="docName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="page_size" jdbcType="INTEGER" property="pageSize" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="belong_user" jdbcType="VARCHAR" property="belongUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="deletor" jdbcType="VARCHAR" property="deletor" />
    <result column="is_deletor" jdbcType="VARCHAR" property="isDeletor" />
  </resultMap>
  <sql id="Base_Column_List">
    id, doc_name, status, page_size, size, commit_time, port, belong_user, create_time, 
    creator, update_time, updator, del_time, deletor, is_deletor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from monitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from monitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sellercube.printserver.server.entity.Monitor">
    insert into monitor (id, doc_name, status, 
      page_size, size, commit_time, 
      port, belong_user, create_time, 
      creator, update_time, updator, 
      del_time, deletor, is_deletor
      )
    values (#{id,jdbcType=INTEGER}, #{docName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{pageSize,jdbcType=INTEGER}, #{size,jdbcType=DOUBLE}, #{commitTime,jdbcType=TIMESTAMP},
      #{port,jdbcType=VARCHAR}, #{belongUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, 
      #{delTime,jdbcType=TIMESTAMP}, #{deletor,jdbcType=VARCHAR}, #{isDeletor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" parameterType="com.sellercube.printserver.server.entity.Monitor" keyProperty="id">
    insert into monitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="docName != null">
        doc_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="pageSize != null">
        page_size,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="commitTime != null">
        commit_time,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="belongUser != null">
        belong_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="delTime != null">
        del_time,
      </if>
      <if test="deletor != null">
        deletor,
      </if>
      <if test="isDeletor != null">
        is_deletor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="docName != null">
        #{docName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="pageSize != null">
        #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="commitTime != null">
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="belongUser != null">
        #{belongUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletor != null">
        #{deletor,jdbcType=VARCHAR},
      </if>
      <if test="isDeletor != null">
        #{isDeletor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sellercube.printserver.server.entity.Monitor">
    update monitor
    <set>
      <if test="docName != null">
        doc_name = #{docName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="pageSize != null">
        page_size = #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="commitTime != null">
        commit_time = #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="belongUser != null">
        belong_user = #{belongUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null">
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletor != null">
        deletor = #{deletor,jdbcType=VARCHAR},
      </if>
      <if test="isDeletor != null">
        is_deletor = #{isDeletor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sellercube.printserver.server.entity.Monitor">
    update monitor
    set doc_name = #{docName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      page_size = #{pageSize,jdbcType=INTEGER},
      size = #{size,jdbcType=DOUBLE},
      commit_time = #{commitTime,jdbcType=TIMESTAMP},
      port = #{port,jdbcType=VARCHAR},
      belong_user = #{belongUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      deletor = #{deletor,jdbcType=VARCHAR},
      is_deletor = #{isDeletor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>